body {
    font-family: Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    
    
}

.header {
    background-color: #1F2937;
    font-size: 24px;
    color: #F9FAF8;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 15px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;

}


img {
    height: 100px;
    width: auto;
    border-radius: 10px;
}
.container1 {
    background-color: #1F2937;
    display: flex;
    justify-content: space-evenly;
    color: #E5E7EB; ;
    padding-bottom: 50px;


}
button {
    background-color: #3882F3;
    padding: 8px 25px;
    border-radius: 5px;
    color: white;
    font-weight: 550 ;
    border-color: #E5E7EB;
    

}


.sub1 {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    margin: 0;
    

}

.sub2 {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.container2 {
 display: flex;
  justify-content: center;
  gap: 30px;
  margin-bottom: 75px;
}

.photo {
  max-width: 150px;
}

h2 {
    text-align: center;
}

.text {
    flex-wrap: wrap;
    color: #85888d;
    font-size: 14px;
    text-align: center;
}

.container3 {
    background-color: #E5E7EB;
    padding: 50px;
    display: flex;
    justify-content: space-evenly;

}

.quote {
    text-align: center;
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1F2937;
    flex-wrap: wrap;
    min-width: auto;

}

.thor {

    align-self: flex-end;
    font-weight: bold;
    font-size: 20px;
    

}

.container4 {
    display: flex;
    padding: 100px;

}

.box {
    background-color: #3882F3;
    margin: 75px;
    padding: 50px;
    border-radius: 10px;
    color: #E5E7EB;
    justify-content: space-around;
}

.button1 {
    margin-left: auto;
}
.footer {
    background-color: #1F2937;
    color: #F9FAF8;
    text-align: center;
    padding: 20px
}